<!DOCTYPE html>
<html>
<head>
	<title>Back End APi</title>
	<link rel="stylesheet" type="text/css" href="app.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js" integrity="sha512-1Gn7//DzfuF67BGkg97Oc6jPN6hqxuZXnaTpC9P5uw8C6W4yUNj5hoS/APga4g1nO2X6USBb/rXtGzADdaVDeA==" crossorigin="anonymous"></script>

	<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
</head>
<body>

	<div class="container">
		<form>
			<label for="fname">First Name </label>
			<input id="firstName" placeholder="First Name" name="firstname" type="text">
			<label for="lname">Last Name </label>
			<input id="lastName" placeholder="Last Name" name="lastname" type="text">
			<label for="fname">Email ID </label>
			<input id="email_id" type="text">
			<label for="fname">Password </label>
			<input id="password" type="text">
			<label for="addresS">Address </label>
			<textarea id="address" placeholder="Address" name="address"></textarea>
			<label for="fname">State </label>
			<input id="state" type="text">
			<label for="fname">City </label>
			<input id="city" type="text">
			<label for="fname">Pincode</label>
			<input id="pincode" type="text">
			<label for="fname">Phone no</label>
			<input id="phone_no" type="text">
			<input id="btn-submit" type="submit" value="SUBMIT" onclick="createUser()">
			
			<ul class="list">
		
			</ul>
		</form>
		<input id="btn-submit show" type="submit" value="SHOW" >
		<img id="img" src="" alt="">
	</div>
	



<script type="text/javascript" src="app.js"></script>
</body>
</html>